body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 248, 248);
}

.container {
    width: 60%;
    margin: 10px auto;
}

.navbar {
    position: relative;
    display: block !important;
}

.product-pic {
    width: 35%;
    float: left;
    margin-right: 30px;
    margin-top: 10%;
}

.about {
    text-align: Center;
}

.footer {
    margin: 15px 0 0 0;
    background-color: #212529;
    padding: 10px;
    clear: both;
    color: white;
}

.logo {
    width: 400px;
}

.hero-banner.jumbotron {
    background-image: url('../img/hero-banner.jpg');
    height: 660px;
}

.dropdown {
    position: relative !important;
}

.dropdown-menu {
    position: absolute !important;
    top: 30px;
    z-index: 9999 !important;
}

.fa-facebook,
.fa-instagram {
    font-size: 1.5rem;
}

.fa-facebook {
    color: blue;
    font-size: 1.5rem;
}

.fa-instagram {
    color: purple;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex p {
    vertical-align: middle;
    margin-top: 1rem;
}